/* id's used on all pages */
#banner {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 25px;
    background-color: rgb(204, 230, 255);
     /* I found the css for making a picture a border from: https://www.w3schools.com/css/css3_border_images.asp */
    border: 10px solid transparent;
    border-image: url(myBorder.png) 30 round;
}

#h1Banner {
    font-size: 65px;
}

#h2Banner {
    font-size: 40px;
}

#h3Banner {
    font-size: 25px;
}

#navBar {
    background-color: rgb(255, 255, 0);
    overflow: hidden;
    border-radius: 12px;
    margin-left: 25px;
    margin-right: 25px;
}

/* id's only used on index.html*/
#lemmingsTable {
    float: right;
}

#lemmingsPhoto {
    height: 350px;
    width: 350px;
    margin-right: 20px;
    border: 3px;
    border-style: solid;
    border-color: rgb(0, 102, 0);
}

#lemmingsCaption {
    text-align: center;
    padding-right: 20px;
}

/* id's only used on history.html */
#memorialTable {
    float: right;
    padding-top: 10px;
}

#memorialPhoto {
    height: 250px;
    width: 250px;
    border-style: solid;
    border-color: rgb(0, 102, 0);
    
}

#whaleTable {
    float: right;
}

#whalePhoto {
    height: 350px;
    width: 350px;
    border-style: solid;
    border-color: rgb(0, 102, 0);
    margin-top: -55px;
    
    
}

#whaleCaption {
    text-align: center;
}

#bridgeTable {
    float: right;
    margin-top: -90px;
}

#bridgePhoto {
    height: 250px;
    width: 250px;
    border-style: solid;
    border-color: rgb(0, 102, 0);
    
}

#dcThomsonTable {
    float: right;
}

#dcThomsonPhoto {
    margin-top: 10px;
    margin-right: 10px;
    height: 300px;
    width: 600px;
    border-style: solid;
    border-color: rgb(0, 102, 0);
}

#dcThomsonCaption {
    text-align: center;
}
/* classes used on all pages */
.navBarLink {
    display: block;
    padding: 8px;
}

.pageText {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(128, 193, 255);
    border-color: rgb(0, 0, 0);
    border-style: dotted;
    border-width: 3px;
    border-radius: 12px;
}

.references {
    font-size: 20px;
}

.referenceText {
    text-align: center;
    padding: 10px;
}

/* other css that is also used on all pages */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
}


li a:hover {
    background-color: rgb(230, 230, 0);
}

body {
    background-color: rgb(255, 255, 204);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
    text-align: center;
    font-size: 25px;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
