/* id's used on all pages */
#banner {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-align: center !important;
    padding: 20px !important;
    margin: 25px !important;
    background-color: rgb(204, 230, 255) !important;
     /* I found the css for making a picture a border from: https://www.w3schools.com/css/css3_border_images.asp */
    border: 10px solid transparent !important;
    border-image: url(myBorder.png) 30 round !important;
}

#h1Banner {
    font-size: 65px !important;
}

#h2Banner {
    font-size: 40px !important;
}

#h3Banner {
    font-size: 25px !important;
}

#navBar {
    background-color: rgb(255, 255, 0) !important;
    overflow: hidden !important;
    border-radius: 12px !important;
    margin-left: 25p !importantx;
    margin-right: 25px !important;
}

#navUl {
    list-style-type: none !important;
    margin: 0px !important;
    padding: 0px !important;
    
}

#navLi {
    float: left !important;
}

#navLi:hover {
    background-color: rgb(230, 230, 0) !important;
}

/* id's only used on index.html*/
#lemmingsPhoto {
    height: 350px !important;
    width: 350px !important;
    margin-right: 20px !important;
    border: 3px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
}

#lemmingsCaption {
    text-align: center; !important
    padding-right: 20px !important;
}

#map {
    padding: 10px !important;
}

/* id's only used on history.html */
#memorialTable {
    float: right !important;
    padding-top: 10px !important;
}

#memorialPhoto {
    height: 250px !important;
    width: 250px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
    
}

#whalePhoto {
    height: 350px !important;
    width: 350px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
    
    
}

#whaleCaption {
    text-align: center !important;
}

#bridgeTable {
    float: right !important;
}

#bridgePhoto {
    height: 250px !important;
    width: 250px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
    
}

#dcThomsonPhoto {
    margin-right: 10px !important;
    height: 300px !important;
    width: 600px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
}

#dcThomsonCaption {
    text-align: center !important;
}

/* ids only used on essential.html */
#discoveryPhoto {
    height: 200px !important;
    width: 200px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
}

#unicornTable {
    float: right;
    margin-right: 10px !important;
}

#unicornPhoto {
    height: 250px !important;
    width: 250px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
}

#mcmanusPhoto {
    height: 300px !important;
    width: 300px !important;
    margin-right: 10px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
}

#mcmanusCaption {
    text-align: center !important;
}

#vicAPhoto {
    height: 250px !important;
    width: 250px !important;
    border-style: solid !important;
    border-color: rgb(0, 102, 0) !important;
}

/* classes used on all pages */
.navBarLink {
    display: block !important;
    padding: 8px !important;
}

.pageText {
    overflow: auto;
    height: auto;
    margin-top: 30px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    margin-left: 15px !important;
    background-color: rgb(128, 193, 255) !important;
    border-color: rgb(0, 0, 0) !important;
    border-style: dotted !important;
    border-width: 3px !important;
    border-radius: 12px !important;
}

.photoTable {
    float: right !important;
}

.references {
    font-size: 20px !important;
}

.referenceText {
    text-align: center !important;
    font-size: 20px !important;
    padding: 10px !important;
}

/* classes only used on essential.html */
.listText {
    font-size: 20px !important;
}
/* other css that is also used on all pages */
body {
    background-color: rgb(255, 255, 204) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h4 {
    text-align: center !important;
    font-size: 25px !important;
}

p {
    font-size: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}


